<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.example.tripnote.dao.CourseDAO">
<select id="getCourses" parameterType="int" resultType="CourseSelectResDTO">
	SELECT
		b.id,
		c.id courseId,
	    c.title,
	    to_char(c.start_date, 'YYYY"."MM"."dd') startDate,
	    to_char(c.end_date, 'YYYY"."MM"."dd') endDate,
	    ( end_date - start_date ) AS days,
	    a.area_name AS loc,
	    i.icon_name
	FROM
        course c
		    JOIN area  a ON c.area_id = a.id
		    LEFT JOIN board b ON c.id = b.course_id
		    left join course_icon i on c.id = i.course_id
	WHERE
        c.user_id = #{id}
	    AND b.id IS NULL
</select>
<select id="getCourseById" parameterType="int" resultType="CourseDTO">
	SELECT
	    *
	FROM
	    course c
	    join area a on c.area_id = a.id
	WHERE
	    c.id = #{id}
	    and c.is_visible = 1  
</select>

<select id="getTourLocsByCourseId" parameterType="int" resultType="TourLocDTO">
    SELECT
        *
    FROM
        tour_loc
    WHERE
        tour_loc.course_id = #{id}
    ORDER BY
        tour_nth,
        tour_order ASC
</select>



</mapper>