<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.example.tripnote.dao.TripDAO">

<select id="getAreaId" parameterType="string" resultType="_int">
	select id from area where area_name = #{areaName}
</select>

<select id="getAllTourLoc"  parameterType="_int" resultType="TourLocDTO">
	select tour_loc.*, note.note_content, tour_loc_xy.mapx, tour_loc_xy.mapy from tour_loc join tour_loc_xy on tour_loc.id = tour_loc_xy.tour_loc_id join note on tour_loc.id = note.tour_loc_id where course_id = #{courseId} order by tour_nth, tour_order asc
</select>

<insert id="insertCourse" parameterType="CourseDTO" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">

	insert into course (title, start_date, end_date, user_id, area_id) values(#{title}, #{startDate}, #{endDate}, #{userId}, #{areaId})
</insert>

<insert id="insertTourLoc" parameterType="TourLocDTO" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">

	insert into tour_loc (code, tour_loc_name, tour_order, start_time, end_time, tour_nth, time_taken, course_id, img_src, type_name) 
			values(#{code}, #{tourLocName}, #{tourOrder}, #{startTime}, #{endTime}, #{tourNth}, #{timeTaken}, #{courseId}, #{imgSrc}, #{typeName})
</insert>

<insert id="insertTourLocXY" parameterType="TourLocDTO">
	insert into tour_loc_xy values(#{id}, #{mapx}, #{mapy})
</insert>

<select id="getCourseById" parameterType="int" resultType="CourseDTO">
    SELECT * FROM COURSE WHERE ID = #{courseId}
</select>

<update id="updateTourLoc" parameterType="TourLocDTO">
	update tour_loc set
		tour_order = #{tourOrder}
	where id = #{id}
</update>

<update id="updateDuration" parameterType="TourLocDTO">
	update tour_loc set
		start_time = #{startTime}, end_time = #{endTime}
	where id = #{id}
</update>

<delete id="deleteTourLoc"  parameterType="_int"  >
    	delete from tour_loc where id = #{id}
</delete>

<insert id="insertNote" parameterType="NoteDTO" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">

    insert into note (note_content, tour_loc_id) values(#{noteContent}, #{tourLocId})
</insert>

<update id="updateNote" parameterType="NoteDTO">
	update note set note_content = #{noteContent} where id = #{id}
</update>

<select id="getNote" parameterType="_int">
	select * from note where tour_loc_id = #{tourLocId}
</select>

<insert id="insertTourType" parameterType="TourLocDTO">
	insert into tour_type values(#{id}, #{typeName})
</insert>

<delete id="deleteNote"  parameterType="_int"  >
    	delete from note where tour_loc_id = #{tourLocId}
</delete>

<select id="getAttraction" parameterType="string">
	select mapx, mapy from attractions where contentId = #{code}
</select>

<select id="getMembersCount" parameterType="MembersDTO" resultType="_int">
	select count(*) from members where from_user_id = #{fromUserId} and to_user_id = #{toUserId}
</select>

<insert id="insertMember" parameterType="MembersDTO">
	insert into members values(#{fromUserId}, #{toUserId}, #{courseId}, #{invitationUrl})
</insert>



</mapper>